*{
    margin:0;
    box-sizing: border-box;

}

.error-wrapper{
    width:00px;
    display:inline-block;
    /* background-color: white; */
    animation: dialog 3s 1;
    background-color:azure;
    position:fixed;
    left:30%;
    z-index: 100;
    height:300px;
    border-radius: 10px;
}
@keyframes dialog{
    from{background-color:azure;
        height:0px;
        width:0px;
        overflow:none
    }
    to{background-color:#e11eaa;
    }
}