*{
    box-sizing: border-box;
    margin: 0;
    direction: rtl;
}
.wrapper{
    display: inline-block;
    width:80rem;
    height:80rem;
    position: relative;
    right:30%

}

.wrapper ul {
    list-style-type: none;

}
img {
    width:10rem;
    height:10rem;
}
.image-name{
    margin-right:40px;
   
}

.left-content{
    position: relative;
    left:10px;
}
.inner-list li {
    display:inline-block;
}
.inner-list li:first-child{
    margin-left:32rem;
}

